streamlit==1.49.1
ultralytics==8.3.198

opencv-python-headless==4.10.0.84

torch==2.7.1
torchvision==0.22.1

numpy==2.1.1
pandas==2.2.3
matplotlib==3.9.2
pillow==11.0.0
scipy==1.14.1

pyyaml==6.0.2
requests==2.32.3
tqdm==4.66.5

gdown==5.2.0
GitPython==3.1.43
protobuf==5.28.2
psutil==6.0.0
pyarrow==17.0.0
watchdog==4.0.2
